# Week 3 assignment
### Instructions
Suppose you have ridden a bicycle from New York City to Key West, Florida.  Your bicycle odometer shows the total miles, which you have dutifully logged at the end of each day with paper and pencil.  Your first two entries might be 55 and 120, indicating that you rode your bike 55 miles on day 1 and 65 miles on day 2.  Your task is to create a pandas Series object that holds the cumulative miles at the end of each day, then use your Python skills to show the total miles that you rode each day.  Consider how you should best present this information in a Jupyter notebook.  You should save your Jupyter Notebook to your GitHub repository, and provide a link in your assignment submission.

In [9]:
import pandas as pd

# Add daily miles for 50 days
daily_miles = [
    55, 65, 75, 80, 75, 60, 90, 85, 78, 65,
    80, 75, 80, 95, 75, 80, 72, 68, 90, 85,
    75, 70, 80, 69, 87, 66, 80, 85, 75, 92,
    65, 75, 85, 70, 80, 70, 70, 85, 90, 65,
    75, 90, 75, 85, 75, 68, 85, 75, 90, 80
]

# Compute cumulative miles using a for loop
cumulative_miles = []
total = 0
for miles in daily_miles:
    total += miles
    cumulative_miles.append(total)


# Create a Pandas Series
cumulative_series = pd.Series(cumulative_miles)

# Show the cummulative Series
# Create a DataFrame
df = pd.DataFrame({
    "Day": range(1, 51),
    "Daily Total Miles": daily_miles,
    "Cumulative Miles": cumulative_miles
})

ride_df = df.set_index("Day")

In [10]:
ride_df

     Daily Total Miles  Cumulative Miles
Day
1                   55                55
2                   65               120
3                   75               195
4                   80               275
5                   75               350
6                   60               410
7                   90               500
8                   85               585
9                   78               663
10                  65               728
11                  80               808
12                  75               883
13                  80               963
14                  95              1058
15                  75              1133
16                  80              1213
17                  72              1285
18                  68              1353
19                  90              1443
20                  85              1528
21                  75              1603
22                  70              1673
23                  80              1753
24                  69              1822
25                  87              1909
26                  66              1975
27                  80              2055
28                  85              2140
29                  75              2215
30                  92              2307
31                  65              2372
32                  75              2447
33                  85              2532
34                  70              2602
35                  80              2682
36                  70              2752
37                  70              2822
38                  85              2907
39                  90              2997
40                  65              3062
41                  75              3137
42                  90              3227
43                  75              3302
44                  85              3387
45                  75              3462
46                  68              3530
47                  85              3615
48                  75              3690
49                  90              3780
50                  80              3860